// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css


$brand:             #4D9F4B;
$dark:              #F6BA4B;
  
$yellow:            #FABA19;
$orange:            #F7921F;
$transparent-yellow: rgba(250, 186, 25, 0.3);             
