// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css


$brand:             #169e4b;
$dark:              #F7921F;

.subnavigation a{

    padding-right: 12px;
    padding-left: 12px;
    
    &:hover{
        background-color: #EF2E2D;
        text-decoration: none;
        color: black !important;
        border-bottom: 2px solid #EF2E2D;
    }

}
