// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.subnavigation {

    background-color: $brand;
    padding-right: 12px;
    padding-left: 12px;

    a
    {
        color: white;
        &:hover{
            color: white !important;
        }

        &.is-active {
            color: #fff;
      
            @include breakpoint(medium) {
              border-bottom: 2px solid $dark;
              color: $dark;
            }
        }
    }
    
}

.button {
    background: $brand;
    font-size: $base-font-size;
  
    &:hover {
      text-decoration: none !important;
      background-color: $yellow;
      font-weight:bold;
    }
}

.home-page {

    .background-header {
      display: none;
    }
    
    .jumbo {

        background: #d8e9d8 image-url('map_bande.jpg');
        height: 20vw;
        margin-top: -1.6rem;
        background-position: bottom;
        background-repeat: no-repeat;
        padding-bottom: rem-calc(72);

        @include breakpoint(medium) {
        background: #d8e9d8 image-url('map_bande.jpg');
        background-size: cover;
        }

        h1,
        p {
          color: white;
        }

        .button{
            border-color: #F6BA4B;
            border-width: 2px;
        }
    }  

}

// Help header style
.help-hearder{
    margin-left: 20px;
}

.featured-proposals {
    background: $dark;
}